<!DOCTYPE html>
<html>
<body>
<form action="/results" method="POST">
	<label for="truth_symbol">True Symbol:</label>
	<input type="text" name="truth_symbol"/>
	<br/>
	<label for="false_symbol">False Symbol:</label>
	<input type="text" name="false_symbol"/>
	<br/>
	<label for="table_size">Size (2^x):</label>
	<input type="text" name="table_size"/>
	<br/>
	<input type="submit" value="Show truth table"/>
</form>
<a href="/">Reload Page</a>
</body>
</html>